{{#linkTo "organizations.new" }}<button class="btn"> New Organization </button> {{/linkTo}}<br />
<h3> Organizations list: </h3>
<ul>
{{#each organization in content}}
    <li>{{#linkTo "organization" organization}} {{organization.name}} {{/linkTo}}</li>
{{/each}}
</ul>
