<button {{action toOrganizationNew}} class="btn"> New Organization </button><br />
{{#each organization in controller}}
    <a {{action toOrganizationProfile organization}} href="true"> {{organization.name}} </a><br />
{{/each}}
