<!-- This is a basic layout started for the term list layout page.  To be turned into hamlbar template -->
<div>
  <div class="all-terms-top-middleX">
    <h1 class="centerX"> All Terms </h1>
    <button class="absolute-rightX"> New</button>
  </div>
</div>
<div>
  <input type="search" class="search_full_width">
</div>
<div>
  <ul class="absolute-left absolute-topX ul-left-margin-adj">
    <li>FDIC</li>
    <li>TTFM</li>
    <li>LOL</li>
    <li>TMI</li>
    <li>ROFL</li>
  </ul>
  <ul class="absolute-right absolute-topX">
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
  </ul>
</div>
