<!-- This is a basic layout started for the term list layout page.  To be turned into hamlbar template -->
<div class="container">

  <div class="row" style="position: fixed; top: 0px;">
    <div class="three columns alpha">
      <h2>Your Jargon</h2>
    </div>
    <div class="twelve columns offset-by-two" style="position: fixed; top: 0px;">
      <h1 style="text-align: center;">All Terms</h1>
    </div>
    <div class="one columns offset-by-fifteen omega" style="position: fixed; top: 0px;">
      <button>New</button>
    </div>
  </div>
  <div class="row" style="position: fixed; top: 35px;">
    <div class="sixteen columns">
      <form>
        <input type="search" id="regularInput" style="position: absolute; width: 100%;">
      </form>
    </div>
  </div>
  <div class="row" style="position: fixed; top: 60px; overflow-y: scroll; height: 100%">
    <div class="fifteen columns alpha">
      <ul style="position: absolute; left: 5px;">
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
      </ul>
    </div>
    <div class="one columns offset-by-fifteen omega">
      <ul>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
      </ul>
    </div>
  </div>
</div>
