<!-- This is a basic layout started for the term list layout page.  To be turned into hamlbar template -->
<div class="top-fixed">
  <div class="pane use-all-height">
    <div class="use-all-height"><p class="absolute-left your jargon">Your Jargon</p></div>
    <button class="absolute-right button-middle">New</button>
    <div class="use-all-height">
      <h1 class="search-all-terms">All Terms</h1>
    </div>
  </div>
  <div class="pane search_pane_middle">
    <input type="search" class="search_full_width">
  </div>
</div>
<div class="bottom-scrollable">
  <div class="pane use-all-available">
    <ul class="absolute-left absolute-top ul-left-margin-adj">
      <li>FDIC</li>
      <li>TTFM</li>
      <li>LOL</li>
      <li>TMI</li>
      <li>ROFL</li>
    </ul>
    <ul class="absolute-right absolute-top">
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
    </ul>
  </div>
</div>
