<!-- This is a basic layout started for the term list layout page.  To be turned into hamlbar template -->
<div class="container">
  <div class="sixteen columns">
    <div class="row">

      <div class="six columns alpha offset-by-five">
        <h1 class="title-center"> All Terms </h1>
      </div>
      <div class="five columns omega">
        <button> New</button>
      </div>
    </div>
  </div>
  <div class="sixteen columns">
    <input type="search" class="search-full-width">
  </div>
  <div class="sixteen columns">
    <div class="row">
      <div class="fifteen columns alpha">
        <ul class="">
          <li>FDIC</li>
          <li>TTFM</li>
          <li>LOL</li>
          <li>TMI</li>
          <li>ROFL</li>
        </ul>
      </div>
      <div class="one columns omega">
        <ul class="title-right">
          <li>A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li>E</li>
        </ul>
      </div>
    </div>
  </div>
</div>