<!-- This is a basic layout started for the term list layout page.  To be turned into hamlbar template -->
<div class="container">

  <div class="row" style="position: fixed; top: 0px;">
    <div class="two columns alpha">
      <h2>Your Jargon</h2>
    </div>
    <div class="twelve columns">
      <h1 style="text-align: center;">All Terms</h1>
    </div>
    <div class="two columns omega">
      <button>New</button>
    </div>
  </div>
  <div class="row" style="position: fixed; top: 35px;">
    <div class="sixteen columns">
      <form>
        <input type="search" id="regularInput" style="width: 100%;">
      </form>
    </div>
  </div>
  <div class="row" style="position: fixed; top: 60px; overflow-y: scroll; height: 100%">
    <div class="fifteen columns alpha">
      <ul>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
        <li>Term One</li>
      </ul>
    </div>
    <div class="one columns omega">
      <ul>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
      </ul>
    </div>
  </div>
</div>
