<!-- This is a basic layout started for the term list layout page.  To be turned into hamlbar template -->
<div class="container">

  <div class="sixteen columns allwide">
    <div class="row clearfix" style="position: fixed; top: 0px;">
      <div class="two columns yourjargon">
        <h2 style="position: absolute; left: 0px;">Your Jargon</h2>
      </div>
      <div class="twelve columns offset-by-two allterms">
        <h1 style="text-align: center;">All Terms</h1>
      </div>
      <div class="two columns offset-by-fourteen newterm offset-by-minus-one">
        <button style="position: absolute; right: 5px; top: 5px;">New</button>
      </div>
    </div>
    <div class="row clearfix" style="position: fixed; top: 35px;">
      <div class="sixteen columns searchbox">
        <form style="width: 100%; height: 100%">
          <input type="search" id="regularInput" style="width: 100%;">
        </form>
      </div>
    </div>
    <div class="row clearfix" style="position: fixed; top: 60px; overflow-y: scroll; height: 100%">
      <div class="fifteen columns termslist">
        <ul style="position: absolute; left: 0px; margin-left: 1px">
          <li>Term One</li>
          <li>Term One</li>
          <li>Term One</li>
          <li>Term One</li>
          <li>Term One</li>
          <li>Term One</li>
          <li>Term One</li>
          <li>Term One</li>
          <li>Term One</li>
          <li>Term One</li>
        </ul>
      </div>
      <div class="one column offset-by-fifteen alphabet">
        <ul style="position: absolute; right: 5px;">
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
          <li>A</li>
        </ul>
      </div>
    </div>
  </div>
</div>
