<div id="termView" class='well'>
    <h2>{{name}}{{#if YJ.currentUser}}<button {{action editTerm content }} class='btn btn-mini'> Edit </button>{{/if}}</h2>

    <pre>{{description}}</pre>

    <button {{action back }} class='btn'> Back </button>
</div>
