<h2>My Dashboard</h2>
<div class="well">
    <h4>Your Organizations
    <button {{action createOrg}} class="btn"> Create Organization </button>&nbsp;&nbsp;
    <button {{action joinOrg}} class="btn"> Join Organization </button>
    </h4>
    <div class="container-fluid">
        <div class="row-fluid" id="bottom-scrollable">
            <div class="span6">
                <ul class="orgs-list">
                    {{#each organization in content.organizations}}
                        <li><a {{action toShow organization}}> {{organization.name}} </a> </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
