{{#view YJ.EditTermView id="editTermView"}}
  term: {{view Ember.TextField valueBinding="term.term"}}
  definition: {{view Ember.TextArea valueBinding="term.description"}}
  <button {{action "update"}}> Submit </button>
  <!-- FIXME: add cancel button -->
{{/view}}
