<div class="container-fluid">
  <div class="row-fluid" id="bottom-scrollable">
    <div class="span6">
      <ul class="terms-list">
        {{#each term}}
        <li>{{action toShow term}}> {{term.name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="span6">
      {{view YJ.AlphabetView }}
    </div>
  </div>
</div>
