<div class="container">
  <div class="row fixed-row">
    <div class="three columns alpha">
        <h2 class="your-jargon-title">Your Jargon</h2>
    </div>
    <div class="one columns offset-by-fifteen omega fixed-row">
    </div>
  </div>
  <div class="row fixed-row">
    <div class="sixteen columns absolute-columns">
      <h1 class="all-terms-title">All Terms</h1>
    </div>
  </div>
  <div class="row search-top">
    <div class="sixteen columns">
        <input type="search" id="regularInput" class="search-box">
    </div>
  </div>
  <div class="row" id="bottom-scrollable">
    <div class="fifteen columns alpha">
        {{view YJ.ListTermsView}}
    </div>
    <div class="one columns offset-by-fifteen omega">
        {{view YJ.AlphabetView}}
    </div>
  </div>
  <div>
  {{#view YJ.NewButtonView}}
  <button {{action "new" }} class="new-button-position">New</button>
  {{/view}}
  </div>
</div>