{{view YJ.NavbarView}}
<div class="container-fluid">
  <div class="row-fluid" id="bottom-scrollable">
    <div class="left-align">
      {{view YJ.ListTermsView action="update"}}
    </div>
    <div class="right-align">
        {{view YJ.AlphabetView}}
    </div>
  </div>
</div>
