<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h1 class="all-terms-title">All Terms</h1>
    </div>
  </div>
  <div class="row-fluid search-top">
    <div class="span4">
        <input type="search" id="regularInput" class="search-box">
    </div>
  </div>
  <div class="row-fluid" id="bottom-scrollable">
    <div class="span3">
    <!--
      {{#collection contentBinding="YJ.termsController" tagName="ul" action="update"}}
        {{view Ember.Checkbox valueBinding="content.term"}}
      {{/collection}}
    -->
      {{view YJ.ListTermsView action="update"}}
    </div>
    <div class="span3">
        {{view YJ.AlphabetView}}
    </div>
  </div>
  <div>
  {{#view YJ.NewTermButton class="new-button-position"}}
    New
  {{/view}}
  </div>
</div>
