{{#view YJ.NewTermView id="newTermView"}}
term: {{view Ember.TextField valueBinding="term.term"}}
definition: {{view Ember.TextArea valueBinding="term.description"}}
<button {{action "add"}}> Submit </button>
<button {{action "cancel"}}> Cancel </button>
{{/view}}
