<div id="termView" class='well'>
    <h2>{{controller.name}}<button {{action editTerm controller.content }} class='btn btn-mini'> Edit </button></h2>

    <pre>{{controller.description}}</pre>

    <button {{action back }} class='btn'> Back </button>
</div>
