<ul class="alphabet-list">
  <a href="#" {{action "all"}}> Show All </a>
  <!-- 'action all' above is scary; tie it down better -->
  {{#each YJ.alphabetController}}
    {{#view YJ.AlphabetLinkView contentBinding="this"}}
    <span class="badge"><a href="#" {{content}} </a></span>
    {{/view}}
  {{/each}}
</ul>
