<ul class="alphabet-list">
  <a href="#" {{action "all"}}> Show All </a>
  <!-- 'action all' above is scary; tie it down better -->
  {{#each YJ.alphabetController}}
    <li><span class="badge"><a href="#" {{action "choose"}}> {{this}} </a></span></li>
  {{/each}}
</ul>
