<div class="alphabet">
  <div>
    <a {{action allTerms target="controller"}}> Show All </a>
  </div>
  <div class="btn-group btn-group-vertical">
    {{#each letter in controller.alphabet}}
      <button type="button" class="btn" {{action filterTerms letter target="controller"}}> {{letter}} </button>
    {{/each}}
  </div>
</div>
