<ul class="alphabet-list">
  <a {{action allTerms}}> Show All </a>
  <!-- 'action all' above is scary; tie it down better -->
  {{#each letter in controller}}
    <li><span class="badge"><a {{action filterTerms context="letter"}}> {{letter}} </a></span></li>
  {{/each}}
</ul>
