<ul class="position-alphabet-list">
  <a href="#" {{action "all"}}> Show All </a>
  <!-- 'action all' above is scary; tie it down better -->
  {{#each YJ.alphabetController}}
    {{#view YJ.AlphabetLinkView contentBinding="this"}}
    <a href="#" {{content}} </a>
    {{/view}}
  {{/each}}
</ul>
