<footer>
<div class="container-fluid footer">
  <ul>
    <li> The greatest footer EVAR!</li>
    - <li> Copyright like its 1999</li>
    - <li> Actually... Copyleft </li>
    - <li><a href="http://github.com/oc-emberjs/yourjargon">Source on github</a></li>
  </ul>
</div>
</footer>