<div class="hero-unit">
<h1>Welcome To Your Jargon</h1>
  <p>Tired of feeling out of the loop? Search for group specific words </p>

  <p>Want to keep your team members all on the same page? Create a group and add the lingo so new members can get up to
    speed faster!</p>

  <p>Heard a term you don't understand? Add it and let someone else explain it.</p>

  <p>
    <a {{action viewTerms}} class="btn btn-primary btn-large">
    Terms
    </a>
  </p>
</div>