<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      {{#linkTo terms class="brand"}} YourJargon {{/linkTo}}

      <form class="navbar-search pull-left">
         {{view Ember.TextField valueBinding="YJ.searchPhrase"}}
      </form>

      <ul class="nav pull-left">
        <li> <button {{action toSearch}} class="btn"> Search </button></li>
        {{#if YJ.currentUser}}
        <li> <button {{action newTerm target="controller"}} class="btn"> New Term </button></li>
        {{/if}}
      </ul>
      <ul class="nav pull-right">
        {{#if YJ.currentUser}}
        <li>
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>Account</a>
              <ul class="dropdown-menu">
                <li>{{#linkTo user.edit}} Change Settings {{/linkTo}}</li>
                <li>{{#linkTo organizations}} Organizations {{/linkTo}}</li>
                <li>{{#linkTo user.logout}} logout {{/linkTo}}</li>
              </ul>
            </li>
          </ul>
        </li>
        {{else}}
        <li> {{#linkTo user.login}} login {{/linkTo}} </li>
        {{/if}}

      </ul>
    </div>
  </div>
</div>
