// Define the top part of the terms list page:
@import "bootstrap";
@import "bootstrap-responsive";

$search-top-height: 32px;
$new-button-top-offset: 3px;

.left-align {

}

.right-align {

}

.alphabet-list {
  text-align: right;
  margin-right: 100px;
  list-style: none;
}

.terms-list {
  list-style: none;
}

// Define the middle part of the terms list page:
$search-middle-height: 30px;
$search-bottom-top: $search-top-height + $search-middle-height;

// Define the scrollable bottom part of the terms list page:
// NOTE: Seem to have to attach this via the ID rather
// than class.
#bottom-scrollable {
  overflow-y: scroll;
  height: 100%;
}

button.disabled,
button[disabled]{background-color:#f5f5f5; cursor:not-allowed;}
