// Define the top part of the terms list page:
@import "bootstrap";
@import "bootstrap-responsive";

.left-align {

}

.right-align {

}

.alphabet-list {
  text-align: right;
  margin-right: 100px;
  list-style: none;
}

.terms-list {
  list-style: none;
}


.footer {
  list-style: none;
  li {
    display: inline;
  }
}

button.disabled,
button[disabled]{background-color:#f5f5f5; cursor:not-allowed;}
