<!DOCTYPE html>
<html>
<head>
  <title>Yourjargon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body data-rendering="true">
  <header>
  <div class='navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container-fluid'>
        <a class="brand" href="#">
           Your Jargon
        </a>

        <ul class="top-nav pull-right">
          <li><input type="text" class="search-query" placeholder="Search Terms..."></li>
          <li> Login | Sign up </li>
        </ul>
      </div>
    </div>
  </div>
  </header>
<%= yield %>

</body>
</html>
