<!DOCTYPE html>
<html>
<head>
  <title>Yourjargon</title>
  <link href='http://fonts.googleapis.com/css?family=Happy+Monkey|Alegreya+SC' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body data-rendering="true">

<%= yield %>

</body>
</html>
